.devProjects-session {
  position: relative;
  padding-top: 5.5rem;
  padding-bottom: 5rem;

  h1 {
    font-weight: 900;
    margin-bottom: 0.5rem;
  }
}

.project {
  border: none;
  margin-bottom: 3rem;
  h2 {
    font-weight: 300;
    margin-bottom: 0.9rem;
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 0;
  }

  a {
    text-align: right;
  }
}

.project-icons {
  position: absolute;
  bottom: -5%;
  width: 13.8rem;
  height: 3rem;
  background: #6610f2;
  border-radius: 5px;
  i {
    margin: 0;
    margin-left: 0.6rem;
  }
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;

  a {
    text-decoration: none;
    font-size: 28px;
  }

  span {
    margin-top: 0.3rem;
    font-size: 33px;
    color: #6610f2;
  }
}
