.contact-session {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
  background: #6610f2;
  color: white;
  bottom: 0;
  h1 {
    font-weight: 900;
    margin-bottom: 2rem;
  }

  label {
    font-weight: 300;
    font-size: 18px;
  }
}
