.contact-session {
  padding: 15vh 0 15vh;
  background: var(--principal);
  color: white;

  h1 {
    font-weight: 900;
    margin-bottom: 2rem;
  }

  label {
    font-weight: 300;
    font-size: 18px;
  }
}

.contact-button {
  border: 2px solid white;
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--principal);
  color: white;

  &:hover {
    background-color: white;
    color: var(--principal);
    transition: 0.3s ease-in;
  }
}

.contact-button-area {
  display: flex;
  justify-content: right;
}
