.hello-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.hello-message {
  // max-width: 540px;
  h1 {
    font-weight: 900;
  }
  p {
    font-weight: 300;
    font-size: 17px;
  }
}
