@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: -50%;
  right: -50%;
  background: rgb(244, 244, 244);
  padding: 1rem 2rem;
  border-radius: 0 0 6px 6px;
  box-shadow: 3px 0 10px 1px rgb(219, 219, 219);
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.nav-style-item {
  display: flex;
  font-weight: 500;
  height: 2.5rem;
  width: 7rem;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
}

.nav-style-item:hover,
.nav-style-item-contact:hover {
  background: #6610f2;
  color: white;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  transition-property: background;
}

.nav-style-item-contact {
  display: flex;
  height: 2.5rem;
  width: 7rem;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #6610f2;
  color: #6610f2;
}
