.habilitys-session {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: rgb(244, 244, 244);

  h1 {
    font-weight: 900;
  }
}

.hability-card {
  text-align: center;
  box-shadow: 0 5px 6px 1px rgb(218, 218, 218);
  h2 {
    font-weight: 100;
  }
  p {
    color: grey;
    font-weight: 400;
    font-size: 17px;
  }
}

.hability-card:hover {
  box-shadow: 0 5px 12px 4px rgb(218, 218, 218);
}

.material-symbols-outlined {
  font-size: 4rem;
  color: #c7b7e1;
}

.hability-icons {
  bottom: -8%;
  position: absolute;
  width: 18rem;
  height: 3rem;
  background: #6610f2;
  padding: 0.5rem 0 1rem 0.5rem;
  box-shadow: 0 5px 6px 1px rgb(218, 218, 218);
  border-radius: 5px;
}

.hability-list {
  font-weight: 100;
}

.devicon-react-original,
.devicon-nodejs-plain,
.devicon-javascript-plain,
.devicon-html5-plain,
.devicon-sass-original,
.devicon-bootstrap-plain,
.devicon-css3-plain,
.devicon-git-plain,
.devicon-mongodb-plain,
.devicon-postgresql-plain {
  color: rgb(244, 244, 244);
  font-size: 30px;
  margin-right: 1rem;
}
